@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
    background-image: url(./assets/images/car-green.svg) ;
    background-repeat: no-repeat;
    background-position: 5% 95%;
    background-size: 40vw;
    @media screen and (max-width: 768px){
        background-position: 5% 90%;
        
    }
}